#home-wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#rotating-text {
    position: relative;
    color: var(--coffeebrown);
    animation: rotate 10s ease infinite;
    z-index: 1;
}

#home-buttons {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 16rem;
    margin: 2rem;
}

#home-buttons button {
    margin-right: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    background-color: var(--lightcoffeebrown);
    color: var(--white);
    border: solid 1px var(--toastedwhite);
}

#home-buttons a {
    display: flex;
    text-decoration: none;
}

#home-buttons img {
    margin: 0;
    padding: 0;
    height: 1.3rem;
    width: 1.3rem;
}

#home-buttons p {
    margin: 0 0 0 6px;
    padding: 0;
    color: var(--lightcoffeebrown);
}

@media (max-width:576px) {
    #rotating-text-container {
        height: 3rem;
        line-height: 3rem;
        overflow: hidden;
    }

    #elevator-pitch {
        margin: 1rem 2rem;
        font-size: 0.9rem;
    }
    
    @keyframes rotate {
        0% {
            top: 0;
        }
        20% {
            top: 0;
        }
        25% {
            top: -3rem;
        }
        45% {
            top: -3rem;
        }
        50% {
            top: -6rem;
        }
        70% {
            top: -6rem;
        }
        75% {
            top: 0;
        }
        95% {
            top: 0;
        }
        100% {
            top: 0;
        }
    }
}

@media (min-width:1021px) {
    #rotating-text-container {
        margin: 1rem;
        height: 8rem;
        line-height: 8rem;
        overflow: hidden;
    }

    #elevator-pitch {
        max-width: 50%;
    }
    
    @keyframes rotate {
        0% {
            top: 0;
        }
        20% {
            top: 0;
        }
        25% {
            top: -8rem;
        }
        45% {
            top: -8rem;
        }
        50% {
            top: -16rem;
        }
        70% {
            top: -16rem;
        }
        75% {
            top: 0;
        }
        95% {
            top: 0;
        }
        100% {
            top: 0;
        }
    }
}
