.highlight-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem;
}

.highlight-card img {
	margin: 0;
	padding: 0;
	height: 3rem;
	width: 3rem;
	transition: 0.2s ease-in-out;
}

.tech-list {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 2rem;

	display: flex;
	gap: 0.75rem;
	list-style-type: none;
	padding: 0;
	margin-top: 2rem;
}

.tech-list li {
	font-size: 12px;
	padding: 0.5rem;
	border: solid var(--lightcoffeebrown);
	border-radius: 8px;
}

@media (min-width: 1000px) {
	.highlight-card {
		position: relative;
		width: 800px;
		height: 300px;
		border-radius: 16px;
		border: solid var(--coffeebrown);
		box-shadow: var(--coffeebrown) 0px 1px 3px, var(--coffeebrown) 0px 1px 3px;
		background-color: var(--lightwhite);
	}

	.highlight-content {
		margin: 4rem 2rem;
		max-width: 50%;
	}

	.highlight-links {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0 2rem;
	}
}
