#footer-icons {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#footer-icons img {
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 3rem;
}
