body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--toastedwhite);
    --toastedwhite: #f3f1ea;
    --lattecream: #edd6c0;
    --coffeebrown: #988373;

}

#content-wrap {
    padding: 3rem 0;
}
